.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background-color: #489197;
}

.main-div{
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    width: 400px;
    height: auto;
    padding: 50px;
    background-color: rgb(77, 208, 218);
    border: 1px solid lightskyblue;
    box-shadow: 0 4px 8px 0 rgb(66 60 66), 0 6px 20px 0 rgb(66 60 66);
}

.div-first{
  position: relative;
  width: 100%;
}

.heading{
  font-family:'cursive';
  font-size: 40px;
}

input.inputField {
  position: relative;
  
}

.inputField{
  padding-right: 40px;
  height: 50px;
  width: 20rem;
  border-radius: 5px;
  border-color: transparent;
  font-size: 1.5rem;
  background-color: rgb(114, 197, 245);
  box-shadow:  0 6px 20px 0 rgb(66, 60, 66);
}

.button {
  background-color: transparent;
  border-color: transparent;
  color: blue;
  position: absolute;
  z-index: 999;
  top: 97px;
  right: 30px;
}

.submit{
  background-color: transparent;
  border-color: transparent;
  color:blue;
}
.list{
  margin: auto;
  height: auto;
  width: 20rem;
  border-radius: 5px;
  font-size: 1rem;
  background-color: aquamarine;
  box-shadow:  0 6px 20px 0 rgb(66, 60, 66);
  color: rgb(58, 53, 53);
}
.listItems{
  text-align:left;
  width: 60%;
  height: auto;
  padding-left: 10px;
  padding-top: 3px;
  box-sizing: inherit;
  word-break: break-all;
}
.fa-trash-alt:hover {
  color: rgb(250, 9, 29);
}
i.submit{
  margin-left: 15px;
  background-color: transparent;
  border-color: transparent;
  color:rgb(58, 58, 211);
}

.button-list {
  background-color: transparent;
  border-color: transparent;
  color: rgb(58, 58, 211);
  position: relative;
  z-index: 803;
  top: -46px;
  right: -96px;
}


